@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

:root {
  /* Body background color */
  --body-bg-color: hsl(204, 43%, 93%);

  /* Grid colors */
  --column-bg: hsl(204, 43%, 93%);
  --first-row-bg: hsl(179, 61%, 44%);
  --second-row-bg: hsl(179, 47%, 52%);

  /* Headings colors */
  --text-h-teal: hsl(179, 62%, 43%);

  --text-p-color: hsl(215, 12%, 49%);

  /* Button and Highlighted text color */
  --text-highligh-color: hsl(71, 93%, 53%);
  --button-color: hsl(71, 73%, 54%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 6rem 1rem;
  font-family: 'Karla';
  background-color: var(--body-bg-color);
}